body{
    background-color: #1f1f1f;
}

.pf-container {
        font-size: 0.625em;
       font-family: 'Raleway', sans-serif;
}

.pf-container a {
     font-family: 'Montserrat', sans-serif;
}

.pf-container h2, .pf-container h1{
     font-family: 'Cabin', sans-serif;
 }

 .pf-container h3, .pf-container h5{
    font-family: 'Raleway', sans-serif;
 }


.pf-container .main{
    margin: 30px 20px 20px 350px;
    overflow: hidden;
}

.flex-control-nav li a {
    background-color:  #424242;
}
.flex-control-nav li a.flex-active {
    background-color:  #f26c51;
}

.pf-container p {
    margin-top: 20px;
    opacity: 0;
    -webkit-transform: translate3d(100px,0px,0px);
    -moz-transform: translate3d(50px,0px,0px);
    -ms-transform: translate3d(50px,0px,0px);
    -o-transform: translate3d(50px,0px,0px);
    transform: translate3d(50px,0px,0px);
    padding-bottom: 30px;
    font-size: 1.4em;
    line-height: 1.4em;
    color: #808080;
}

.pf-container article.pf-about{
    position: absolute;
    left: 0;
    top: 40%;
    width: 300px;
    height: 260px;
    margin-top: -130px;
    padding-left: 30px;
    padding-bottom: 30px;
}


.pf-container .pf-about h5{
    margin-bottom: 20px;
    line-height: 1.2em;
    opacity: 0;
    font-size: 3em;
    color: #ffffff;
    -webkit-transform: translate3d(50px,0px,0px);
    -moz-transform: translate3d(50px,0px,0px);
    -ms-transform: translate3d(50px,0px,0px);
    -o-transform: translate3d(50px,0px,0px);
    transform: translate3d(50px,0px,0px);
}

.pf-container .pf-about h3{
 
     opacity: 0;
    line-height: 25px;    
    -webkit-transform: translate3d(80px,0px,0px);
    -moz-transform: translate3d(50px,0px,0px);
    -ms-transform: translate3d(50px,0px,0px);
    -o-transform: translate3d(50px,0px,0px);
    transform: translate3d(80px,0px,0px);
}
.pf-container .pf-about.active h3{
    opacity: 1;
    -webkit-transition: all 800ms cubic-bezier(0.390,0.575,0.565,1.000) 100ms;
    -moz-transition: all 800ms cubic-bezier(0.390,0.575,0.565,1.000) 200mss;
    -o-transition: all 800ms cubic-bezier(0.390,0.575,0.565,1.000) 200ms;
    transition: all 800ms cubic-bezier(0.390,0.575,0.565,1.000) 200ms;
    -webkit-transform: translate3d(0px,0px,0px);
    -moz-transform: translate3d(0px,0px,0px);
    -ms-transform: translate3d(0px,0px,0px);
    -o-transform: translate3d(0px,0px,0px);
    transform: translate3d(0px,0px,0px);
}

.pf-container .pf-about.active h5{
    opacity: 1;
    -webkit-transition: all 800ms cubic-bezier(0.390,0.575,0.565,1.000) 100ms;
    -moz-transition: all 800ms cubic-bezier(0.390,0.575,0.565,1.000) 200mss;
    -o-transition: all 800ms cubic-bezier(0.390,0.575,0.565,1.000) 200ms;
    transition: all 800ms cubic-bezier(0.390,0.575,0.565,1.000) 200ms;
    -webkit-transform: translate3d(0px,0px,0px);
    -moz-transform: translate3d(0px,0px,0px);
    -ms-transform: translate3d(0px,0px,0px);
    -o-transform: translate3d(0px,0px,0px);
    transform: translate3d(0px,0px,0px);
}

.pf-container .pf-about.active p{
    opacity: 1;
    -webkit-transition: all 800ms cubic-bezier(0.390,0.575,0.565,1.000) 200ms;
    -moz-transition: all 800ms cubic-bezier(0.390,0.575,0.565,1.000) 200mss;
    -o-transition: all 800ms cubic-bezier(0.390,0.575,0.565,1.000) 200ms;
    transition: all 800ms cubic-bezier(0.390,0.575,0.565,1.000) 200ms;
    -webkit-transform: translate3d(0px,0px,0px);
    -moz-transform: translate3d(0px,0px,0px);
    -ms-transform: translate3d(0px,0px,0px);
    -o-transform: translate3d(0px,0px,0px);
    transform: translate3d(0px,0px,0px);
}

.pf-container a.button {
    padding: 10px 30px;
    width: auto;
    background: none;
    border: none;
    display: inline-block;
    color: #fff !important;
    background: #808080;
    text-decoration: none;
    -o-transition: background 0.2s ease-in;
    -webkit-transition: background 0.2s ease-in;
    -moz-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
    border-radius: 3px;
    font-weight: 400;
}

.pf-container a.button.next {
    margin-left: 20px;
}


.pf-container a.button:hover{
    background: #f26c51;
}

.pf-container nav{
    position: absolute;
    margin-left: 30px;
    margin-top: 20px;
}

.pf-container .back{
    padding-bottom: 20px
}

.pf-container .back i{
    padding-right: 5px
}